@charset 'utf-8';

/* reset */
html
,body {
    padding: 0; 
    margin: 0;
}

img {
    border: 0;
}
a { 
    text-decoration: none;
    color: inherit;
}

ol, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* contents */
#wrap {
    width: 100vw; height: 100vh;
    /* background-color: #e6e6e6; */
/*     padding: 50px; */
    padding: 16px 0;
    box-sizing: border-box;
}

#wrap h4 {
    text-align: center;
    margin: 0 0 10px;
}

#wrap .comp {
    width: calc(100vw - 10px);
    min-width: 275px; 
    /* max-width: 650px;  */
    height: calc(100vh - 100px);
    max-height: 1334px; 
    /* box-sizing: border-box; */
    margin: 0 auto;
    padding: 20px 10px 20px;
    border-radius: 30px;
    background-color: #fff;
    overflow: auto;
}

.analysis {
    margin: 50px 0 20px;
}

.analysis h4 {
    text-align: left;
}

.analysis p {
    font-size: 15px;
    margin: 0;
    line-height: 1.4;
    color: #666;
}

.analysis p em {
    font-style: normal;
    color: #f00;
    font-weight: 600;
}


/* 요약 */
.result_list .item {
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.08);
    /* display: inline-block; */
    border: 1px solid #eee;
    width: calc(50% - 18px);
    margin: 6px;
    display: inline-flex;
}

.result_list a {
    box-sizing: border-box;
    padding: 20px;
    flex: 1;
}

.result_list .item .part {
    font-weight: 600;
    font-size: 18px;
}

.summary {
    padding: 30px 16px 0;
}

.summary h1 {
    text-align: center;
    font-size: 18px;
} 


/* list */
#item_list {
    padding: 8px;
}

#item_list .item {
    padding: 13px 15px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    width: calc(33vw - 9px);
    margin: 9px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}

#item_list .item .title {
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    font-size: 14px;
}