@charset 'utf-8';

/* reset */
html
,body {
    padding: 0; 
    margin: 0;
    font-size: 100%;
}

img {
    border: 0;
}
a { 
    text-decoration: none;
    color: inherit;
}

ol, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}



@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OTEnjoystoriesBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





.f1 {
    font-family: 'Cafe24Ssurround';
}

.f2 {
    font-family: 'OTEnjoystoriesBA';
}

.f3 {
    font-family: 'KyoboHandwriting2021sjy';
}

.f4 {
    font-family: 'KyoboHandwriting2020A';
}

em {
    font-style: normal;
}

.hlight {
    /* color: #00d364; */
    color: #1b864d;
    font-weight: bold;
}

/* contents */
#wrap {
    min-width: 320px;
    box-sizing: border-box;
    line-height: 1.4;
}

#wrap h4 {
    /* text-align: center; */
    font-size: 24px;
    margin: 10px 0;
}

#wrap .comp {
    width: calc(100vw - 10px);
    min-width: 275px; 
    height: calc(100vh - 100px);
    max-height: 1334px; 
    margin: 0 auto;
    padding: 50px 20px 20px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #fff;
    overflow: auto;
}

.high {
    color: red;
}

.low {
    color: blue;
}

.analysis {
    margin: 50px 0 20px;
    line-height: 1.6;
}

.analysis .title {
    font-weight: bold;
    text-align: left;
}

.analysis .item {
    border: 1px solid #eee;
    padding: 12px 16px;
    border-radius: 6px;
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-weight: normal;
}
.analysis .item + .item {
}

.analysis .item span:first-child {
    /* color: #999; */
}
.analysis .item .count {
    flex-shrink: 0;
}

.analysis div {
    text-align: center;
    word-break: keep-all;
    font-weight: bold;
    font-size: 15px;
}

.analysis p {
    font-size: 15px;
    margin: 0;
    line-height: 1.4;
    color: #666;
}

.analysis p em {
    font-style: normal;
    color: #f00;
    font-weight: bold;
}


/* 요약 */
.result_wrap { 
    padding: 50px 0 30px;
}

.result_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1;
    padding: 20px 0 14px;
    font-size: 18px;
}

.result_title div + div {
    margin-top: 8px;
}

.result_title #resultKeyword {
    /* text-decoration: underline; */
    font-size: 34px;
}

.result_title #resultKeyword:before {
    content: '"';
}
.result_title #resultKeyword:after {
    content: '"';
}
.result_title #resultKeyword,
.result_title #resultCount {
    font-weight: bold;
}

.summary_wrap {
    padding: 30px 16px 50px;
    box-sizing: border-box;
}

.summary_wrap .summary_title {
    font-size: 1rem;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.summary_wrap .summary_title .title {
    font-size: 20px;
    word-break: keep-all;
}

.summary_wrap .sub {
    font-size: 14px;
    color: #999;
}

.summary_wrap .title {
    font-size: 1rem;
    margin: 0;
} 
.summary_wrap #promote {
    font-size: 56px;
    font-weight: bold;
    color: #00d364;
    line-height: 1;
    padding: 10px 0 6px;
    display: inline-block;
}

.summary_wrap > div + div {
    margin-top: 80px;
}

.summary_list {
    font-size: 0;
}

.summary_list .item {
    border-radius: 14px;
    background-color: #fff;
    border: 1px solid #e9e9e9;    
    width: 100%;
    margin: 6px 0 14px;
    box-sizing: border-box;
    padding: 20px;
    flex: 1;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    font-size: 1rem;
    line-height: 1;
}

.summary_list .item .part {
    font-weight: 600;
    /* font-size: 1.125rem; */
    font-size: 16px;
    margin-bottom: 10px;
}

.summary_wrap .more {
    background-color: #e3f9ed;
    color: #1b864d;
    margin-top: 5px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
}

.summary_wrap .more .item_anchor {
    padding: 15px 0;
    display: block;
}

.mean_compare .title_area {
    padding-right: 100px;
    word-break: keep-all;
}

/* list */
#result_list {
    padding: 8px;
    display: flex;
    flex-direction: column;
}

#result_list .item {
    padding: 12px 15px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    height: 80px;
    margin: 6px 8px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: relative;
}

#result_list .item_anchor {
    position: absolute;
    top: 0; right: 0; bottom:0; left: 0;
}

#result_list .item .title {
    text-align: center;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 14px;
    font-size: 14px;
}

#result_list .item img {
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
    flex-shrink: 0;
}

/* main search */
.main_search {
    width: 100vw;
    height: 100vh;
    padding: 0 0 30%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}

.main_search .sub {
    color: #999;
    font-size: 14px;
}

.main_search .title_img {
    width: 26%;
    min-width: 260px;
    max-width: 600px;
}

.main_search .fixed {
    position: fixed;
    left: -10vw;
    bottom: -5%;
    width: 120vw;
    opacity: 0.5;
    z-index: -1;
}

.main_search h1 {
    width: 80%;
    min-width: 80px;
    max-width: 300px;
}

.main_search .search_area {
    border: 1px solid #ccc;
    padding: 12px 13px;
    padding-right: 8px;
    width: 80%;
    min-width: 80px;
    max-width: 300px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    font-size: 18px;
}

.main_search .searchbar {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
}

.main_search .searchbar input {
    border: 0;
    background-color: #fff;
    outline: none;
    flex: 1 1 auto;
    font-size: 15px;
}

.main_search .searchbar [type='text'] {
    width: 100%;
}

.main_search .searchbar [type='submit'] {
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;

}

.main_search .searchbar [type='submit'].hlight {
    /* color: #1b864d; */
}

.dimmed {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 16px;
    box-sizing: border-box;
    z-index: 9;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dimmed img {
    width: 100%;
}

.go_last {
    height: 40px;
    background-color: #00d364;
    color: #fff;
    padding: 18px 0;
    text-align: center;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.myeong {
    font-style: italic;
    text-align: center;
    padding: 20px 25px;
    margin: 0 0 20px;
    background-color: #f4f4f4;
    position: relative;
    border-radius: 10px;
    color: #7a7a7a;
    font-size: 18px;
}

.last_wrap {
    padding: 20px 16px 110px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    word-break: keep-all;
    line-height: 1.6;
}

.last_wrap .title {
    font-weight: bold;
    margin-top: 30px;
}

.last_wrap .from {
    /* text-align: center; */
}

.last_wrap .from + .title {
    margin-top: 80px;
}

.last_wrap ol,
.last_wrap li {
    list-style: decimal;
    margin-left: 5px;
    padding-left: 5px;
}

.last_wrap .more {
    display: block;
    padding: 12px 0;
    width: 100%;
    border: 1px solid #e9e9e9;
    color: #666;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
}

.nodata {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nodata p {
    font-size: 40px;
    margin-top: -30px;
}

.nodata .goback {
    width: calc(100% - 32px);
    box-sizing: border-box;
    padding: 15px 0;
    background-color: #e3f9ed;
    color: #1b864d;
    text-align: center;
    border-radius: 6px;
}

#wrap .slick-prev {
    left: 20px;
}

#wrap .slick-next {
    right: 20px;
}

#wrap .slick-prev, 
#wrap .slick-next {
    width: 24px;
    height: 24px;
    z-index: 1;
}

#wrap .slick-prev::before, 
#wrap .slick-next::before {
    color: #999;
    font-size: 24px;
}

#wrap .slick-dots {
    /* top: 56%; */
    bottom: 0;
}

#wrap .mean_compare .slick-dots {
    top: auto;
    bottom: -40px;
}

#wrap .mean_compare .slick-next {
    right: 10px;
    top: -35px;
    width: 30px;
    height: 30px;
}

#wrap .mean_compare .slick-prev {
    left: auto;
    right: 60px;
    top: -35px;
    width: 30px;
    height: 30px;
}

#wrap .mean_compare .slick-prev::before, 
#wrap .mean_compare .slick-next::before {
    font-size: 30px;
}
